{% extends 'parent.html' %}

{% load static %}

{% block content %}
<h1>
    Carrito
</h1>
{% if cart.productlist.count > 0 %}
<section class="container-fluid text-center cart">
    {% for cart_to_product in cart.productlist.all %}
    <div class="row">
        <div class="col-12 col-sm-10">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-4">
                    <a href="{% url 'productDetail' cart_to_product.product.pk %}">
                        <strong class="cart__nombreproducto">
                            {{cart_to_product.product.name}}
                        </strong>
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>Cantidad: {{cart_to_product.quantity}}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="col-sm-12">
                                <p>
                                    Precio por Unidad: ${{cart_to_product.product.price}}
                                </p>
                            </div>
                            <div class="col-12 col-sm-12">
                                <strong class="cart__subtotal">
                                    Subtotal: $ {{cart_to_product.calculate_subtotal}}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-2  cart__actions">
            <form action="{% url 'cartDelete' pk=cart_to_product.pk %}" method="POST" class="carttoproduct__form">
                {% csrf_token %}
                <button type="submit" class="cart__iconbutton trash">
                    <img src="{% static 'assets/img/icono_thrash.png' %}" alt="Editar">
                </button>
            </form>
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row cart__total">
        <div class="col-8">
            Total:
        </div>
        <div class="col-4">
            $ {{cart.total}}
        </div>
    </div>
    <div class="row cart__buttons">
        <div class="col-12"></div>
        <div class="col-12 col-sm-6">
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <button class="form__button">
                    Confirmar Compra
                </button>
            </form>
        </div>
        <div class="col-12 col-sm-6">
            <button class="form__button" id="button__logout">
                Vaciar Carrito
            </button>
        </div>
    </div>
</section>
{% else %}
<h2>
    Aún no tiene productos en su carrito.
</h2>
{% endif %}

{% endblock content %}