{% extends 'parent.html' %}

{% load static %}

{% block content %}

<h1>
    Inicio
</h1>
<section class="index">
    <a href="./pages/sobre_nosotros.html">
        <article class="index__articulo">
            <div class="index__articulo__texto">
                <div class="index__articulo__texto__titulo">
                    <p>
                        Sobre Nosotros
                    </p>
                </div>
                <div class="index__articulo__texto__contenido">
                    <p>
                        ¿Quiénes son ustedes? ¿Por qué empezaron a hacer alimento húmedo? Si querés la respuesta a estas preguntas y conocernos un poco más, vení que te contamos.
                    </p>
                </div>
            </div>
            <div class="index__articulo__imagen">
                <img src="{% static 'assets/img/imagen_placeholder.png' %}" alt="Akali curiosa">
            </div>
        </article>
    </a>
    <a href="./pages/tienda.html">
        <article class="index__articulo index__articulo--impar">
            <div class="index__articulo__texto">
                <div class="index__articulo__texto__titulo">
                    <p>
                        Tienda
                    </p>
                </div>
                <div class="index__articulo__texto__contenido">
                    <p>
                        Acá vas a encontrar todos nuestros productos, ¡para que junto a tu gatit@ puedan elegir el que más les guste!
                    </p>
                </div>
            </div>
            <div class="index__articulo__imagen">
                <img src="{% static 'assets/img/imagen_placeholder2.png' %}" alt="Akali comprando">
            </div>
        </article>
    </a>
</section>

{% endblock content %}