{% extends 'parent.html' %}

{% load static %}

{% block content %}

<h1>
    Actualizar Contraseña de {{user.username}}
</h1>
<section class="register">
    {% if form.errors %}
    <p style="color:red">Por favor, verifique los datos ingresados</p>
    {% endif %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form__input">
            <input required type="password" name="old_password" placeholder=" " autocomplete="current-password" autofocus id="id_old_password">
                <span>Anterior Contraseña</span>
            <i></i>
        </div>
        <div class="form__input">
            <input required type="password" name="new_password1" placeholder=" " autocomplete="new-password" id="id_new_password1">
                <span>Nueva Contraseña</span>
            <i></i>
        </div>
        <div class="form__input">
            <input required type="password" name="new_password2" placeholder=" " autocomplete="new-password" id="id_new_password2">
                <span>Reingrese su Nueva Contraseña</span>
            <i></i>
        </div>
        <div class="form__buttons">
            <button type="submit" value="send" class="form__button">
                Actualizar Datos
            </button>
        </div>
    </form>
</section>

{% endblock content %}